footer {
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
    color: #990000;
}

footer p {
    margin: 10px 0;
}

footer p a {
    text-decoration: none;
    color: #990000;
}


footer div {
    text-align: center;
}

footer div a img {
    width: 30px;
    padding: 10px;
}

.rodape {
    color: #990000;
    background-color: #ffffff;
    text-align: center;
    flex: 1;
    padding: 10px;
    margin: 0;
}
